

body {
  background-color: #DDD8C4;
  font-family: alcubierre;
}

.header-container {
  background-image: url(cabackground\ copy.jpg);
  background-position: center;
  height: 75%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.restaurant {
  font-family: alcubierre;
  font-size: 150px;
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
  font-family: alcubierre;
  font-size: 100px;
  color: white;
}

.toolbar-container {
  background-color: #433E3F;
  color: white;
  padding: 10px 0;
  width: 100%;
}

.toolbar {
  color: white;
  font-family: alcubierre;
  font-size: 30px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-content: center;
}

.photo-grid-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 300px;
  align-items: flex-start;
}

.photo-grid {
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.photo-grid-item {
  height: 175px;
}

.drinks-container {
  width: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D1E3DD;
  font-family: alcubierre;
  font-size: 20px;
  flex-direction: column;
  margin: auto;
}

.specialty,
.hot-drinks,
.smoothie-frappe,
.cold-drinks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.food-container {
  width: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #A59E8C;
  font-family: alcubierre;
  font-size: 20px;
  flex-direction: column;
  margin: auto;
}

.smoothie-bowl,
.crepes,
.oatmeal-bowls {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}
